[Unit]
Description=ChainBot LLM Backend
After=network.target

[Service]
Type=simple
User=alex
WorkingDirectory=/opt/alexos/modules/chainbot/llmbackend
Environment="PATH=/opt/alexos/modules/chainbot/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="OLLAMA_HOST=10.42.69.147"
Environment="OLLAMA_PORT=11434"
ExecStart=/opt/alexos/modules/chainbot/venv/bin/python3 llmbackend.py
Restart=always

[Install]
WantedBy=multi-user.target 